@mixin rounded-corner($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin rounded-corner2($radius1, $radius2) {
    border-radius: $radius1 $radius2;
    -webkit-border-radius: $radius1 $radius2;
}

@mixin opaque($opacity) {
    opacity: $opacity;
}

@mixin box-shadow($value1, $value2, $color) {
    box-shadow: $value1 $value2 $color;
    -webkit-box-shadow: $value $value2 $color;
}

@mixin box-shadow2($value1, $value2, $value3, $color) {
    box-shadow: $value1 $value2 $value3 $color;
    -webkit-box-shadow: $value1 $value2 $value3 $color;
}

@mixin mini-button-glass {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 25px;
    float: left;
}

@mixin up-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $mediumdarkgray;
    top: 9px;
    left: 41px;
}

@mixin down-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $mediumdarkgray;
    bottom: -70px;
    left: 40px;
}

@mixin left-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid $mediumdarkgray;
    border-bottom: 10px solid transparent;
    top: 19px;
    left: 9px;
}

@mixin right-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid $mediumdarkgray;
    border-bottom: 10px solid transparent;
    top: -1px;
    right: -82px; 
}

@mixin background-color($color) {
    background-color: $color;
}
