%pokedex {
    width: 750px;
    margin: 80px 80px;
}

%pokemon-img {
    display: block;
    margin: 0 auto;
}

%background-curve {
    display: block; 
}

%background-radial-gradient-red {
    background: radial-gradient($salmon, $red);
    background: -webkit-radial-gradient($salmon, $red);
}

%background-radial-gradient-yellow {
    background: radial-gradient($lemonyellow, $yellow);
    background: -webkit-radial-gradient($lemonyellow, $yellow);
}

%background-radial-gradient-green {
    background: radial-gradient($honeydewgreen, $greenapple);
    background: -webkit-radial-gradient($honeydewgreen, $greenapple);
}

%background-radial-gradient-blue {
    background: radial-gradient($aqua, $skyblue);
    background: -webkit-radial-gradient($aqua, $skyblue);
}

%background-radial-gradient-gray {
    background: radial-gradient($mediumdarkgray, $verydarkgray);
    background: -webkit-radial-gradient($mediumdarkgray, $verydarkgray);
}

%font-size-color-and-family {
    font-family: 'Gill Sans';
    font-size: 13px;
    color: $mediumdarkgray;
}

%background-linear-gradient-navy {
    background: linear-gradient(left, $navy 0%, $mediumblue 50%, $navy 100%);
    background: -webkit-linear-gradient(left, $navy 0%, $mediumblue 50%, $navy 100%);
}

%background-linear-gradient-stark-gray {
    background: linear-gradient(top, $starkgray 0%, $mediumstarkgray 80%);
    background: -webkit-linear-gradient(top, $starkgray 0%, $mediumstarkgray 80%);
}

%hinge-border {
    border-top: 2px solid $midnightblue;
    border-bottom: 2px solid $midnightblue;
}

%border-top-left-radius {
    border-top-left-radius: 30px;
    -webkit-border-top-left-redius: 30px;
}

%hinge-height {
    height: 124px;
}

%box-shadow-dark-slate-gray {
    box-shadow: 0 0 20px $darkslategray inset;
}

%border-solid-white {
    border: 5px solid white;
}

%border-solid-medium-gray {
    border: 3px solid $mediumgray;
}

%border-bottom-left-radius {
    border-bottom-left-radius: 85px 60px;
}