* {
  margin: 0;
  padding: 0; }

#app-content {
  width: 100%;
  height: 600px; }

@media all {
  #pokedex {
    width: 750px;
    margin: 50px auto 0 auto; }

  #left-flap {
    width: 400px;
    height: 500px;
    float: left;
    position: relative;
    z-index: 1; }

  #right-flap {
    width: 350px;
    height: 500px;
    float: left;
    position: relative; }

  /* Left Side */

  #left-curve1 {
    width: 201px;
    height: 85px;
    background-color: mediumblue;
    float: left;
    padding: 15px 0 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -10px 9px midnightblue;
    -webkit-box-shadow: -10px 9px midnightblue;
    -moz-box-shadow: -10px 9px midnightblue;
    -o-box-shadow: -10px 9px midnightblue;
    border-bottom-right-radius: 85px 60px;
    -webkit-border-bottom-right-radius: 85px 60px;
    -moz-border-bottom-right-radius: 85px 60px;
    -o-border-bottom-right-radius: 85px 60px;
    border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px; }

  #left-backgroundcurve1 {
    width: 400px;
    height: 80px;
    background-color: navy;
    border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px; }

  #left-curve2 {
    width: 216px;
    height: 451px;
    background-color: mediumblue;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 85px 60px;
    -webkit-border-top-left-radius: 85px 60px;
    -moz-border-top-left-radius: 85px 60px;
    -o-border-top-left-radius: 85px 60px; }

  #left-backgroundcurve2 {
    width: 400px;
    height: 420px;
    background-color: mediumblue;
    box-shadow: -10px 9px midnightblue;
    -webkit-box-shadow: -10px 9px midnightblue;
    -moz-box-shadow: -10px 9px midnightblue;
    -o-box-shadow: -10px 9px midnightblue;
    border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    -o-border-bottom-left-radius: 30px; }

  #buttonGlass {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 5px solid #fff;
    float: left;
    box-shadow: 0 0 10px #490000;
    -webkit-box-shadow: 0 0 10px #490000;
    -moz-box-shadow: 0 0 10px #490000;
    -o-box-shadow: 0 0 10px #490000;
    background: radial-gradient(#05fbfb, #29abe3);
    background: -webkit-radial-gradient(#05fbfb, #29abe3);
    background: -moz-radial-gradient(#05fbfb, #29abe3);
    background: -o-radial-gradient(#05fbfb, #29abe3);
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px; }

  #reflect {
    width: 30px;
    height: 18px;
    margin: 3px 0 0 15px;
    background: #fff;
    opacity: 0.6;
    border-radius: 15px 9px;
    -webkit-border-radius: 15px 9px;
    -moz-border-radius: 15px 9px;
    -o-border-radius: 15px 9px; }

  #miniButtonGlass1 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    box-shadow: 0 0 10px #490000;
    -webkit-box-shadow: 0 0 10px #490000;
    -moz-box-shadow: 0 0 10px #490000;
    -o-box-shadow: 0 0 10px #490000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    background: radial-gradient(#fb7b7b, #fb0505);
    background: -webkit-radial-gradient(#fb7b7b, #fb0505);
    background: -moz-radial-gradient(#fb7b7b, #fb0505);
    background: -o-radial-gradient(#fb7b7b, #fb0505); }

  #miniButtonGlass2 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    box-shadow: 0 0 10px #490000;
    -webkit-box-shadow: 0 0 10px #490000;
    -moz-box-shadow: 0 0 10px #490000;
    -o-box-shadow: 0 0 10px #490000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    background: radial-gradient(#fbfb9b, #fbfb05);
    background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
    background: -moz-radial-gradient(#fbfb9b, #fbfb05);
    background: -o-radial-gradient(#fbfb9b, #fbfb05); }

  #miniButtonGlass3 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    box-shadow: 0 0 10px #490000;
    -webkit-box-shadow: 0 0 10px #490000;
    -moz-box-shadow: 0 0 10px #490000;
    -o-box-shadow: 0 0 10px #490000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    background: radial-gradient(#b0fb7b, #50fb05);
    background: -webkit-radial-gradient(#b0fb7b, #50fb05);
    background: -moz-radial-gradient(#b0fb7b, #50fb05);
    background: -o-radial-gradient(#b0fb7b, #50fb05); }

  #hinge {
    width: 60px;
    height: 451px;
    float: right;
    background: linear-gradient(left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
    background: -webkit-linear-gradient(left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
    background: -moz-linear-gradient(left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
    background: -o-linear-gradient(left, #8b0000 0%, #c00d0d 50%, #8b0000 100%); }

  #hinge1 {
    height: 40px;
    background-color: #5e0000;
    opacity: 0.3;
    margin-top: 50px;
    margin-bottom: 262px;
    border-top: 2px solid #330000;
    border-bottom: 2px solid #330000; }

  #hinge2 {
    height: 40px;
    background-color: #5e0000;
    opacity: 0.3;
    border-top: 2px solid #330000;
    border-bottom: 2px solid #330000; }

  #screen {
    height: 245px;
    width: 260px;
    padding: 0 20px;
    background-color: #b0b0b0;
    float: left;
    position: absolute;
    top: 130px;
    left: 19px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px; }

  #screen:after {
    content: "";
    border-top: 40px solid #b0b0b0;
    border-left: 40px solid #c00d0d;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0; }

  #image {
    height: 175px;
    width: 254px;
    margin-top: 20px;
    margin-bottom: 9px;
    background-color: #fff;
    border: 3px solid #494949;
    clear: both;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px; }

  img {
    display: block;
    margin: 0 auto; }

  #speakers {
    float: right;
    width: 75px;
    height: 25px;
    margin-right: 20px; }

  .dot {
    height: 3px;
    margin-bottom: 5px;
    background-color: #494949;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px; }

  #main-button {
    height: 90px;
    width: 90px;
    background-color: #000;
    position: absolute;
    top: 395px;
    left: 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    background: linear-gradient(top, #307bfb 0%, #0530e5 80%);
    background: -webkit-linear-gradient(top, #307bfb 0%, #0530e5 80%);
    background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
    background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%);
    box-shadow: -3px 2px #001c91;
    -webkit-box-shadow: -3px 2px #001c91;
    -moz-box-shadow: -3px 2px #001c91;
    -o-box-shadow: -3px 2px #001c91; }

  #toparrow {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: 0;
    left: 30px;
    box-shadow: -3px 2px #010101;
    -webkit-box-shadow: -3px 2px #010101;
    -moz-box-shadow: -3px 2px #010101;
    -o-box-shadow: -3px 2px #010101;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px; }

  #leftarrow {
    width: 30px;
    height: 30px;
    background-color: #222;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: -3px 2px #010101;
    -webkit-box-shadow: -3px 2px #010101;
    -moz-box-shadow: -3px 2px #010101;
    -o-box-shadow: -3px 2px #010101;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px; }

  #home-button {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: -3px 2px #010101;
    -webkit-box-shadow: -3px 2px #010101;
    -moz-box-shadow: -3px 2px #010101;
    -o-box-shadow: -3px 2px #010101; }

  #rightarrow {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: 30px;
    right: 0;
    box-shadow: -3px 2px #010101;
    -webkit-box-shadow: -3px 2px #010101;
    -moz-box-shadow: -3px 2px #010101;
    -o-box-shadow: -3px 2px #010101;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px; }

  #bottomarrow {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    bottom: 0;
    left: 30px;
    box-shadow: -3px 2px #010101;
    -webkit-box-shadow: -3px 2px #010101;
    -moz-box-shadow: -3px 2px #010101;
    -o-box-shadow: -3px 2px #010101;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px; }

  #upA {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #111;
    position: absolute;
    top: 5px;
    left: 4px; }

  #downA {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    position: absolute;
    bottom: 5px;
    left: 4px; }

  #leftA {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #111;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    left: 4px; }

  #rightA {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #111;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    right: 5px; }

  #homeO {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    background: radial-gradient(#111, #222);
    background: -webkit-radial-gradient(#111, #222);
    background: -moz-radial-gradient(#111, #222);
    background: -o-radial-gradient(#111, #222); }

  /* Right Side */
  #right-curve1 {
    width: 166px;
    height: 451px;
    background-color: mediumblue;
    float: right;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 85px 60px;
    -webkit-border-right-left-radius: 85px 60px;
    -moz-border-right-left-radius: 85px 60px;
    -o-border-right-left-radius: 85px 60px; }

  #right-backgroundcurve1 {
    width: 350px;
    height: 80px;
    background-color: #fff;
    border-top-right-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    -o-border-top-right-radius: 30px; }

  #right-curve2 {
    width: 216px;
    height: 100px;
    background-color: mediumblue;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 85px 60px;
    -webkit-border-bottom-left-radius: 85px 60px;
    -moz-border-bottom-left-radius: 85px 60px;
    -o-border-bottom-left-radius: 85px 60px; }

  #right-backgroundcurve2 {
    width: 350px;
    height: 420px;
    background-color: mediumblue;
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -o-border-bottom-right-radius: 30px;
    box-shadow: -10px 9px midnightblue;
    -webkit-box-shadow: -10px 9px midnightblue;
    -moz-box-shadow: -10px 9px midnightblue;
    -o-box-shadow: -10px 9px midnightblue; }

  #statistics {
    height: 130px;
    width: 280px;
    padding: 10px;
    background-color: lightgray;
    z-index: 1;
    font-size: 13px;
    font-family: arial, sans-serif;
    position: absolute;
    top: 130px;
    left: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 0 20px darkslategray inset;
    -webkit-box-shadow: 0 0 20px darkslategray inset;
    -moz-box-shadow: 0 0 20px darkslategray inset;
    -o-box-shadow: 0 0 20px darkslategray inset; } }
@media handheld and (orientation: portrait), (max-width: 768px) {
  #pokedex {
    width: 400px; }

  #left-flap {
    width: 400px;
    height: 500px;
    float: left;
    position: relative;
    z-index: 1;
    margin: 0 auto; }

  #left-curve1 {
    width: 201px;
    height: 85px;
    background-color: mediumblue;
    float: left;
    padding: 15px 0 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 midnightblue;
    -webkit-box-shadow: 0 0 midnightblue;
    -moz-box-shadow: 0 0 midnightblue;
    -o-box-shadow: 0 0 midnightblue;
    border-bottom-right-radius: 85px 60px;
    -webkit-border-bottom-right-radius: 85px 60px;
    -moz-border-bottom-right-radius: 85px 60px;
    -o-border-bottom-right-radius: 85px 60px;
    border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px; }

  #left-backgroundcurve1 {
    width: 400px;
    height: 80px;
    background-color: mediumblue;
    box-shadow: -10px 9px midnightblue;
    -webkit-box-shadow: -10px 9px midnightblue;
    -moz-box-shadow: -10px 9px midnightblue;
    -o-box-shadow: -10px 9px midnightblue;
    border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px; }

  #right-flap, #screen, #main-button {
    display: none; } }

/*# sourceMappingURL=main.css.map */
