@import 'colors';
@import 'placeholders';
@import 'mixins';

$position {
  position: relative;
}

$z-index {
  z-index: 1;
}

#pokedex {
  @extend %pokedex; 

  #background-curve {
    @extend %background-curve;
  }
    #left-backgroundcurve1 {
      width: 400px;
      height: 80px;
      @include background-color($navy);
      @include box-shadow(-10px 9px $midnightblue);
      @extend %border-top-left-radius;
    }

    #left-backgroundcurve2 {
      width: 400px;
      height: 600px;
      @include background-color($mediumblue);
      @include box-shadow(-10px 9px $midnightblue);
      border-bottom-left-radius: 30px;
      -webkit-border-bottom-left-radius: 30px;
    }

    #right-backgroundcurve1 {
      width: 360px;
      height: 80px;
      margin-left: 400px;
      top: 0;
      @extend $position;
      @include background-color($white);
      clear: both;
    }

    #right-backgroundcurve2 {
      width: 400px;
      height: 600px;
      @extend $position;
      top: -680;
      left: 400;
      @include background-color($mediumblue);
      border-bottom-right-radius: 30px;
      -webkit-border-bottom-right-radius: 30px;
      @include box-shadow(-10px 9px $midnightblue);
    }

  #left-flap {
    width: 400px;
    height: 500px;
    float: left;
    @extend $position;
    @extend $z-index; 
  }

    #left-curve1 {
      width: 210px;
      height: 85px;
      @include background-color($navy);
      float: left;
      padding: 15px 0 0 15px;
      @extend $position;
      top: -1360;
      right: 400;
      @include box-shadow(-10px 9px $midnightblue);
      border-bottom-right-radius: 85px 60px;
      -webkit-border-bottom-right-radius: 85px 60px;
      @extend %border-top-left-radius;
    }

      #buttonGlass {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        @extend %border-solid-white;
        float: left;
        @include box-shadow2(0 0 10px $midnightblue);
        @extend %background-radial-gradient-blue;
        @include rounded-corner(35px);
      }

        #reflect {
          width: 30px;
          height: 18px;
          margin: 3px 0 0 15px;
          background: $white;
          @include opaque(0.6);
          @include rounded-corner2(15px 9px);
        }

      #miniButtonGlass1 {
        @include mini-button-glass;
        @include box-shadow2(0 0 10px $midnightblue);
        @include rounded-corner(20px);
        @extend %background-radial-gradient-red;
      }
        
      #miniButtonGlass2 {
        @include mini-button-glass;
        @include box-shadow2(0 0 10px $midnightblue);
        @include rounded-corner(20px);
        @extend %background-radial-gradient-yellow;
      }
        
      #miniButtonGlass3 {
        @include mini-button-glass;
        @include box-shadow2(0 0 10px $midnightblue);
        @include rounded-corner(20px);
        @extend %background-radial-gradient-green;
      }

    #left-curve2 {
      width: 216px;
      height: 80px;
      @include background-color($mediumblue);
      float: right;
      @extend $position;
      bottom: 1402;
      right: 350;
      border-top-left-radius: 85px 60px;
      -webkit-border-top-left-radius: 85px 60px;
    }

      #hinge {
        width: 30px;
        height: 622px;
        margin-top: 0;
        float: right;
        @extend %background-linear-gradient-navy;
      }

        #hinge1 {
          @extend %hinge-height;
          @include background-color($navy);
          @include opaque(0.3);
          margin-top: 50px;
          margin-bottom: 262px;
          @extend %hinge-border;
        }

        #hinge2 {
          @extend %hinge-height;
          @include background-color($navy);
          @include opaque(0.3);
          @extend %hinge-border; 
        }

    #image-wrapper {
      height: 300px;
      width: 300px;
      margin-top: -1208;
      margin-left: 32;
      @include background-color($white);
      @extend %border-solid-medium-gray;
      @include rounded-corner(15px);
      @include box-shadow2(0 0 5px $midnightblue);
    }

    #pokemon img {
      @extend %pokemon-img; 
    }

    #speaker1 {
      @extend $position;
      width: 75px;
      height: 25px;
      margin-left: 152px;
      top: 166px;
    }

      .dot {
        height: 5px;
        width: 5px;
        @include background-color($verydarkgray);
        @include rounded-corner(60%);
        display: inline-block;
      }

    #main-button {
      height: 100px;
      width: 100px;
      @include background-color($black);
      @extend $position;
      top: 15px;
      left: 138px;
      @include rounded-corner(100px);
      @extend %background-linear-gradient-stark-gray;
      @include box-shadow(-3px 2px $verydarkgray);
    }

      #upArrow {
        @include up-arrow;
        @extend $position;
      }
    
      #downArrow {
        @include down-arrow;
        @extend $position; 
      }
    
      #leftArrow {
        @include left-arrow;
        @extend $position;
      }
    
      #rightArrow {
        @include right-arrow;
        @extend $position;
      }
    
      #homeCircle {
        width: 45px;
        height: 45px;
        @extend $position;
        top: -33px;
        left: 28px;
        @include rounded-corner(30px);
        @extend %background-radial-gradient-gray;
      }

  #right-flap {
    width: 350px;
    height: 500px;
    float: left;
    @extend $position; 
  }

    #right-curve1 {
      width: 216px;
      height: 80px;
      @include background-color($mediumblue);
      float: right;
      @extend position;
      top: -1482;
      left: -134;
      border-top-right-radius: 85px 60px;
      -webkit-border-right-left-radius: 85px 60px;
    }
    
    #right-curve2 {
      width: 216px;
      height: 100px;
      @include background-color($white);
      float: left;
      @extend $position;
      top: -1611;
      right: -184;
      @extend %border-bottom-left-radius;
    }

    #statistics {
      height: 430px;
      width: 300px;
      padding: 10px;
      @include background-color($lightgray);
      @extend $z-index;
      @extend %font-size-color-and-family;
      @extend $position;
      top: -1388;
      left: 40px;
      @include rounded-corner(15px);
      @extend %box-shadow-dark-slate-gray;
    }

    #speaker2 {
      @extend $position;
      width: 75px;
      height: 25px;
      left: 159px;
      top: -1360px;
    }

}

@media handheld and (orientation: portrait), (max-width: 768px)