/*
Error: Invalid CSS after "$position ": expected ":", was "{"
        on line 5 of /Users/nycda/WDF/w04/d15/Classwork/second_project/main.scss

1: @import 'colors';
2: @import 'placeholders';
3: @import 'mixins';
4: 
5: $position {
6:   position: relative;
7: }
8: 
9: $z-index {
10:   z-index: 1;

Backtrace:
/Users/nycda/WDF/w04/d15/Classwork/second_project/main.scss:5
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:640:in `variable'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/private/var/folders/9j/91lr318j0gq90s581cz3yf000000gn/T/AppTranslocation/F0405404-9BB3-4512-A675-ED13A473E7DF/d/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$position \": expected \":\", was \"{\"\A         on line 5 of /Users/nycda/WDF/w04/d15/Classwork/second_project/main.scss\A \A 1: @import 'colors';\A 2: @import 'placeholders';\A 3: @import 'mixins';\A 4: \A 5: $position {\A 6:   position: relative;\A 7: }\A 8: \A 9: $z-index {\A 10:   z-index: 1;"; }
